<div class="page-wrapper chiller-theme toggled">
  <a id="show-sidebar" class="btn btn-sm btn-dark" href="#">
    <span aria-hidden="true">&Xi;</span>
  </a>
  <nav id="sidebar" class="sidebar-wrapper">
    <div class="sidebar-content">
      <div class="sidebar-brand">
        <a href="#">Left Menu</a>
      </div>
      <!-- sidebar-header  -->

      <div class="sidebar-search">
        <div>
          <div class="input-group">
            <input type="text" class="form-control search-menu" placeholder="Search...">
            <div class="input-group-append">
              <span class="input-group-text">
                <i class="fa fa-search" aria-hidden="true"></i>
              </span>
            </div>
          </div>
        </div>
      </div>
      <!-- sidebar-search  -->

      <div class="sidebar-menu">
        <ul>
          <li class="header-menu">
            <span>General</span>
          </li>

          <li *ngFor="let item of menu" class="sidebar-dropdown">
            <i class={{item.icon}}></i>
            <a href="#">{{item.title}}</a>
            <div *ngIf="item.children" class="sidebar-submenu">
              <ul>
                <li *ngFor="let children of item.children">
                  <a>{{children.title}}</a>
                </li>
              </ul>
            </div>
          </li>
        </ul>
      </div>
      <!-- sidebar-menu  -->

    </div>
    <!-- sidebar-content  -->
  </nav>
  