<!-- Footer -->
<footer class="page-footer font-small bg-footer pt-4">

    <!-- Footer Links -->
    <div class="container-fluid text-center text-md-left">
  
      <!-- Grid row -->
      <div class="row">
  
        <!-- Grid column -->
        <div class="col-md-6 mt-md-0 mt-3">
  
          <!-- Content -->
          <h5 class="text-uppercase">{{footerCol1.title}}</h5>
          <p>{{footerCol1.content}}</p>
  
        </div>
        <!-- Grid column -->
  
        <hr class="clearfix w-100 d-md-none pb-3">
  
        <!-- Grid column -->
        <div class="col-md-3 mb-md-0 mb-3">
  
          <!-- Links -->
          <h5 class="text-uppercase">{{footerCol2.title}}</h5>
  
          <ul class="list-unstyled">
            <li *ngFor="let children of footerCol2.children">
                <a href={{children.href}}>{{children.title}}</a>
            </li>
          </ul>
  
        </div>
        <!-- Grid column -->
  
        <!-- Grid column -->
        <div class="col-md-3 mb-md-0 mb-3">
  
          <!-- Links -->
          <h5 class="text-uppercase">{{footerCol3.title}}</h5>
  
          <ul class="list-unstyled">
              <li *ngFor="let children of footerCol3.children">
                  <a href={{children.href}}>{{children.title}}</a>
              </li>
          </ul>
  
        </div>
        <!-- Grid column -->
  
      </div>
      <!-- Grid row -->
  
    </div>
    <!-- Footer Links -->
  
    <!-- Copyright -->
    <div class="footer-copyright text-center bg-end-footer py-3">© 2018 Copyright:
      <a href="https://www.tma.vn/"> TMA Solutions</a>
    </div>
    <!-- Copyright -->
  
  </footer>
  <!-- Footer -->