<div class="container">
	<div class="row">
		<div class="col-sm-6 offset-sm-3 form-login">
			<h2 class="form-title">Sign In</h2>
			<form [formGroup]="loginForm" (ngSubmit)="onLoginSubmit()">
				<div class="form-group">
					<label for="email">Email</label>
					<input type="email" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && form.email.errors }"
					/>
					<div *ngIf="submitted && form.email.errors" class="invalid-feedback">
						<div *ngIf="form.email.errors.required">Email is required</div>
					</div>
				</div>
				<div class="form-group">
					<label for="password">Password</label>
					<input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && form.password.errors }"
					/>
					<div *ngIf="submitted && form.password.errors" class="invalid-feedback">
						<div *ngIf="form.password.errors.required">Password is required</div>
						<div *ngIf="form.password.errors.minlength">Password must be at least 8 characters</div>
					</div>
				</div>
				<div class="form-group">
					<button class="btn btn-primary">Login</button>
				</div>
			</form>
		</div>
	</div>
</div>