<nav class="navbar navbar-expand-lg navbar-light bg-light navbar-header">
  <a class="navbar-brand" href="/">
    <img alt="User picture" class="img-responsive img-rounded" src={{logo.url}}>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">

      <li *ngFor="let item of menu" class="nav-item">

        <a *ngIf="item.children; else elseBlock" class="nav-link dropdown-toggle" id={{item.title}} href="#"
          role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{item.title}}</a>

        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a *ngFor="let children of item.children" class="dropdown-item" href={{item.href}}>{{children.title}}</a>
        </div>

        <ng-template #elseBlock>
          <a class="nav-link" href={{item.href}}>{{item.title}}</a>
        </ng-template>

      </li>

    </ul>
    <div class="form-inline my-2 my-lg-0">
      <ul *ngIf="userAction; else underfinedUser" class="navbar-nav mr-auto">
        <li class="nav-item dropdown">
          <a  class="nav-link dropdown-toggle" id="user" href="#" role="button"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <img class="img-responsive img-rounded sizeImg" src={{userAction.avatarUrl}}>
            {{userAction.username}}
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a *ngFor="let action of userAction.actions" class="dropdown-item" href="{{action.href}}">
              {{action.title}}
            </a>
          </div>
        </li>
      </ul>
      <ng-template #underfinedUser></ng-template>
    </div>
  </div>
</nav>