<app-header [logo]="logo" [menu]="headerMenu" [userAction]="userAction"></app-header>
<div class="main-content">
  <app-left-sidebar [menu]="menu"></app-left-sidebar>
  <router-outlet></router-outlet>
</div>
<app-footer [footerCol1]="footerCol1" [footerCol2]="footerCol2" [footerCol3]="footerCol3"></app-footer>
  